<div>
  <nav>
    <div class="nav-wrapper blue">
      <a href="#" class="brand-logo left left-margin-10">&lt;</a>
      <a class="brand-logo left left-margin-40">Update Youtube</a>
      <ul id="nav-mobile" class="right">
        <li><a (click)="updateYoutube(youtube)"><i class="large material-icons">done</i></a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="container top-margin">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input
          [(ngModel)]="youtube.videoURL"
          #videoURL="ngModel"
          [ngModelOptions]="{standalone: true}"
          placeholder="Video URL"
          id="videoURL"
          type="text"
          class="validate">
        <label for="videoURL">Video URL</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input
          [(ngModel)]="youtube.size"
          #size="ngModel"
          [ngModelOptions]="{standalone: true}"
          placeholder="Size"
          id="size"
          type="number"
          class="validate">
        <label for="size">Size</label>
      </div>
    </div>
    <div class="row">
      <a (click) = "updateYoutube(youtube)" class="waves-effect waves-light btn-large blue"><i class="material-icons right">add</i>Update</a>
      <a (click) = "deleteYoutube(youtube)" class="waves-effect waves-light btn-large red"><i class="material-icons delete">delete</i>Delete</a>
    </div>
  </form>
</div>

<div class="bottom">
  <nav>
    <div class="nav-wrapper blue">
    </div>
  </nav>
</div>
