<div>
    <nav>
        <div class="nav-wrapper blue">
            <a href="#" class="brand-logo left left-margin-10">&lt;</a>
            <a class="brand-logo left left-margin-40">Add Widget</a>
        </div>
    </nav>
</div>

<div class="container top-margin">
    <div class="row card hoverable">
            <a class="left">Header</a>
    </div>
    <div class="row card hoverable">
            <a class="left">Label</a>
    </div>
    <div class="row card hoverable">
            <a class="left">HTML</a>
    </div>
    <div class="row card hoverable">
            <a class="left">Text Input</a>
    </div>
    <div class="row card hoverable">
            <a class="left">Link</a>
    </div>
    <div class="row card hoverable">
            <a class="left">Button</a>
    </div>
    <div class="row card hoverable">
            <a class="left">Image</a>
    </div>
    <div class="row card hoverable">
            <a class="left">YouTube</a>
    </div>
    <div class="row card hoverable">
            <a class="left">Data Table</a>
    </div>
    <div class="row card hoverable">
            <a class="left">Repeater</a>
    </div>
</div>

<div class="bottom">
    <nav>
        <div class="nav-wrapper blue">
            <ul id="nav-mobile" class="right">
                <li><a href="#"><i class="large material-icons">perm_identity</i></a></li>
            </ul>
        </div>
    </nav>
</div>
