
<!--<md-card>-->
  <!--<md-toolbar color="primary">Login</md-toolbar>-->
  <!--<md-card-title></md-card-title>-->
  <!--<md-card-content>-->
    <!--<form name="form" (ngSubmit)="login()" #f="ngForm" novalidate>-->
      <!--&lt;!&ndash; If we are using ngModel within form tag, name attribute must be set &ndash;&gt;-->
      <!--&lt;!&ndash; Material 2 directives below &ndash;&gt;-->
      <!--<md-input name="username"-->
                <!--placeholder="Username"-->
                <!--[(ngModel)]="developer.username"-->
                <!--#username="ngModel"-->
                <!--required></md-input>-->
      <!--<md-input name="password"-->
                <!--[(ngModel)]="developer.password"-->
                <!--type="password"-->
                <!--#password="ngModel"-->
                <!--placeholder="Password"-->
                <!--required></md-input>-->
      <!--<button md-button color="primary">LOGIN</button>-->
      <!--&lt;!&ndash; Messages &ndash;&gt;-->
      <!--<div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>-->
      <!--<div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>-->
    <!--</form>-->

    <!--<md-card-actions>-->
      <!--<button md-button color="primary"><i class="fa fa-facebook-official" aria-hidden="true"></i> Login with Facebook</button>-->
      <!--<button md-button color="primary"><i class="fa fa-google" aria-hidden="true"></i> Login with Google</button>-->
    <!--</md-card-actions>-->
  <!--</md-card-content>-->
<!--</md-card>-->

<div class="row">
  <div class="card hoverable">
    <form name="form" (ngSubmit)="login()" #f="ngForm" novalidate>
      <div class="card-content">
        <span class="card-title">Login</span>
        <div class="row">
          <div class="input-field col m6">
            <input id="username"
                   name="username1"
                   type="text"
                   [(ngModel)]="developer.username"
                   #username="ngModel"
                   required>
            <label for="username">Username</label>
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
          </div>
          <div class="input-field col m6">
            <input id="password"
                   name="password1"
                   type="password"
                   [(ngModel)]="developer.password"
                   #password="ngModel"
                   required>
            <label for="password">Password</label>
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
          </div>
        </div>
      </div>
      <div class="card-action">
        <button class="btn waves-effect waves-light" type="submit">Login</button>
        <a class="btn waves-effect waves-light green darken-2">Register</a>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col s12 m6">
    <div class="card hoverable">
      <div class="card-content">
        <span class="card-title">Login using other methods</span>
        <div class="row">
          <button class="btn waves-effect waves-light blue darken-3"><i class="fa fa-facebook-official"></i> facebook</button>
          <button class="btn waves-effect waves-light red darken-1"><i class="fa fa-google"></i> google</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <h2>Draggable Demo!</h2>
  <div class="moving-box">Drag me!</div>

  <div jga-draggable="">
    Try Moving this!
  </div>
</div>

<div class="row">
  <h2>Sortable Demo!</h2>
  <div jga-sortable>
    <p>Item 1</p>
    <p>Item 2</p>
    <p>Item 3</p>
  </div>
</div>

