
<md-card>
  <md-toolbar color="primary">Login</md-toolbar>
  <md-card-title></md-card-title>
  <md-card-content>
    <form name="form" (ngSubmit)="login()" #f="ngForm" novalidate>
      <!-- If we are using ngModel within form tag, name attribute must be set -->
      <md-input name="username"
                [(ngModel)]="developer.username"
                #username="ngModel"
                placeholder="Username"
                required></md-input>
      <md-input name="password"
                [(ngModel)]="developer.password"
                type="password"
                #password="ngModel"
                placeholder="Password"
                required></md-input>
      <button md-button color="primary">LOGIN</button>
      <!-- Messages -->
      <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
      <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
    </form>

    <md-card-actions>
      <button md-button color="primary"><i class="fa fa-facebook-official" aria-hidden="true"></i> Login with Facebook</button>
      <button md-button color="primary"><i class="fa fa-google" aria-hidden="true"></i> Login with Google</button>
    </md-card-actions>
  </md-card-content>
</md-card>
