
<md-card>
  <md-toolbar color="primary">Login</md-toolbar>
  <md-card-title></md-card-title>
  <md-card-content>
    <form>
      <md-input placeholder="Username" required></md-input>
      <md-input placeholder="Password"></md-input>
      <button md-button color="primary">LOGIN</button>
    </form>

    <md-card-actions>
      <button md-button color="primary"><i class="fa fa-facebook-official" aria-hidden="true"></i> Login with Facebook</button>
      <button md-button color="primary"><i class="fa fa-google" aria-hidden="true"></i> Login with Google</button>
    </md-card-actions>
  </md-card-content>
</md-card>

<!--<hr />-->


<!--<form name="loginForm" novalidate>-->
  <!--<div class="form-group">-->
    <!--<input ng-model="developer.username"-->
           <!--placeholder="username"-->
           <!--autocorrect="off"-->
           <!--autocapitalize="off"-->
           <!--required-->
           <!--name="username"-->
           <!--class="form-control"/>-->
    <!--<span ng-show="loginForm.$submitted && loginForm.username.$invalid">-->
        <!--Username is required-->
    <!--</span>-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<input ng-model="developer.password"-->
           <!--autocorrect="off"-->
           <!--autocapitalize="off"-->
           <!--type="password"-->
           <!--placeholder="password"-->
           <!--required-->
           <!--name="password"-->
           <!--class="form-control"/>-->
    <!--<span ng-show="loginForm.$submitted && loginForm.password.$invalid">-->
        <!--Password is required-->
    <!--</span>-->
  <!--</div>-->

  <!--<button class="btn btn-primary btn-block"-->
          <!--ng-click="model.login(developer)">-->
    <!--Login-->
  <!--</button>-->
<!--</form>-->

<!--<a href="#/register"-->
   <!--class="btn btn-success btn-block">-->
  <!--Register-->
<!--</a>-->

<!--<a href="/auth/google"-->
   <!--class="btn btn-danger btn-block">-->
  <!--<span class="fa fa-google-plus"></span>-->
  <!--Google-->
<!--</a>-->

<!--<a href="/auth/facebook"-->
   <!--class="btn btn-primary btn-block">-->
  <!--<span class="fa fa-facebook"></span>-->
  <!--Facebook-->
<!--</a>-->

