<div>
    <nav>
        <div class="nav-wrapper blue">
            <a href="#" class="brand-logo left left-margin-10">&lt;</a>
            <a class="brand-logo left left-margin-40">Add Header</a>
            <ul id="nav-mobile" class="right">
                 <li><a (click)="addHeader(header)"><i class="large material-icons">done</i></a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="container top-margin">
<form class="col s12">
  <div class="row">
      <div class="input-field col s12">
          <input
            [(ngModel)]="header.name"
            #name="ngModel"
            [ngModelOptions]="{standalone: true}"
            placeholder="Name"
            id="name"
            type="text"
            class="validate">
          <label for="name">Name</label>
      </div>
  </div>
  <div class="row">
      <div class="input-field col s12">
          <input
          [(ngModel)]="header.text"
          #text="ngModel"
          [ngModelOptions]="{standalone: true}"
          placeholder="Description"
          id="description"
          type="text"
          class="validate">
          <label for="description">Description</label>
      </div>
  </div>
  <div class="row">
      <div class="input-field col s12">
          <input
          [(ngModel)]="header.size"
          #size="ngModel"
          [ngModelOptions]="{standalone: true}"
          placeholder="Size"
          id="description"
          type="number"
          class="validate">
          <label for="description">Size</label>
      </div>
  </div>
  <div class="row">
      <a (click) = "addHeader(header)" class="waves-effect waves-light btn-large blue"><i class="material-icons right">add</i>Add Header</a>
  </div>
</form>
</div>

<div class="bottom">
    <nav>
        <div class="nav-wrapper blue">
        </div>
    </nav>
</div>
