<md-card>
  <md-toolbar>UPDATE WEBISTE </md-toolbar>

  <md-card-title>
  </md-card-title>
  <md-card-content>
    <form name="form" (ngSubmit)="updateWebsite()" #f="ngForm" novalidate>
      <md-input name="name"
                required
                value = {{w?.name}}
                [(ngModel)]="updatedWebsite.name"
                #name="ngModel">
      </md-input>
      <md-input name="description"
                required
                value = {{w?.description}}
                [(ngModel)]="updatedWebsite.description"
                #name="ngModel">
      </md-input>
      <button md-button>UPDATE</button>
    </form>
    <button md-button>DELETE</button>
  </md-card-content>
</md-card>
