<div class="profile">
  <md-toolbar color="primary" >

    <span>Profile</span>

    <span class="fill_space"></span>

    <button md-button (click)="editProfile(developer)">
      <md-icon>edit</md-icon>
    </button>

</md-toolbar>

  <md-card>
    <md-card-content>
      <div>
          <label>Username: </label>
          {{developer.username}}
      </div>
      <div>
          <label>E-Mail Id: </label>
          {{developer.email}}
      </div>
      <div>
          <label>First Name: </label>
          {{developer.firstName}}
      </div>
      <div>
          <label>Last Name: </label>
          {{developer.lastName}}
      </div>

      <div class="action_button">
        <button md-button (click)="goToWebsites()">Websites</button>
      </div>

      <div class="action_button">
        <button md-button (click)="logout()">Logout</button>
      </div>



    </md-card-content>


  </md-card>


</div>

