<md-toolbar>
  Websites
</md-toolbar>

<md-grid-list cols="1" rowHeight="100px" >
      <table>
        <tbody>
          <md-grid-tile *ngFor="let website of websites" >
            <tr>
                <td>
                  {{website._id}}
                </td>
                <td>
                  {{website.description}}
                </td>
                <td>
                  <button md-button (click)="editWebsite(website)">
                    <md-icon>settings</md-icon>
                  </button>
                </td>
            </tr>
          </md-grid-tile>
        </tbody>

      </table>

</md-grid-list>

<footer>
        <div layout="row" layout-align="center center">
            <h2>My Awesome Footer</h2>
        </div>
</footer>
