<md-toolbar>
  Websites
  <button (click) = "addWebsite()" md-button>
    <md-icon>add</md-icon>
  </button>
</md-toolbar>
<md-grid-list cols="1" rowHeight="100px" >
      <table border="1">
        <tbody>
          <md-grid-tile *ngFor="let website of websites" >
            <tr (click) = "openPages(website)">
                <td>
                  {{website._id}}
                </td>
                <td>
                  {{website.name}}
                </td>
                <td>
                  {{website.description}}
                </td>
                <td>
                  <button md-button (click)="editWebsite(website)">
                    <md-icon>settings</md-icon>
                  </button>
                </td>
            </tr>
          </md-grid-tile>
        </tbody>

      </table>

</md-grid-list>

<footer>
        <div layout="row" layout-align="center center">
            <h2>My Awesome Footer</h2>
        </div>
</footer>
